.radar {
  position: relative;
  overflow: hidden;
  width: 500px;
  aspect-ratio: 1;
  background: radial-gradient(circle, #004d00, #0a330a) center / cover;
  border: 2px solid #00ff00;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.5);
}

.beam {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  aspect-ratio: inherit;
  background: radial-gradient(circle, rgba(0, 255, 0, 0.1), transparent);
  animation: 5s rotate linear infinite;
  border-radius: 50%;
}

@keyframes rotate {
  100% {
    rotate: 1turn;
  }
}

.dot {
  position: absolute;
  left: calc(var(--x) * 100%);
  top: calc(var(--y) * 100%);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin: -3px;
  background: red; /* Red dots */
  box-shadow: 0 0 10px 4px rgba(255, 0, 0, 0.6);
  opacity: 0;
}
